$color: blue;


.grid-container {
    display: grid;
    grid-column-gap: 50px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }

  body{
    background:$color;
    h1{
      color:red;
    }
  }